<h1>Team Name: <%=@team_name[:name]%></h1>
<h2>Team Motto: <%=@team_motto[:motto]%></h2>

<%@heros.each do |h|%>
   <h3>Hero Name: <%=h.name%></h3>
   <h3>Hero Power: <%=h.power%></h3>
   <h3>Hero Bio: <%=h.bio%></h3>
<%end%>
